body{
    width: 90%;
    margin: auto;
}

.result_block{
    border-bottom: 2px solid gray;
}

.barChartContainer {
    margin: auto;
    width: 50%;
    border: 2px solid gray;
    background-color: white;
    
}

.typeImg {
    width: 400px;
}

@media (max-width: 320px) {
    #radar_chart_container {
        margin: auto;
        width: 100%;
        
    }
}

@media (min-width: 961px) {
    body{
        width: 80%;
        max-width: 1024px;
        margin: auto;
    }

    #theme_code {
        width: calc(100% - 400px);
        
    }
}