body{
    width: 90%;
    margin: auto;
}


/* .result_block{
    border-bottom: 2px solid gray;
} */

.barChartContainer {
    margin: auto;
    width: 50%;
    border: 2px solid gray;
    background-color: white;
    
}

.typeImg {
    max-height: 300px;
}

#description > .personalityBlock{
    text-align: center;
}

#divider {
    background-image: url('../img/stars_horizontal.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px 30px;
    width: auto;
    height: 30px;
    margin: 10px 0;
}

.typeRoleText {
    border: solid 2px;
    border-radius: 6px;
    background-color: #F2F1EF;
}



#primaryTypeRole {
    box-shadow: 0px 10px #D0E5E8;
}

#secondaryTypeRole {
    box-shadow: 0px 10px  #FFA78A;
}

.descriptionBlock {
    margin-top: 20px;
    border: solid 2px;
    border-radius: 6px;
    background-color: #F2F1EF;
}

.importanceText {
    border: solid 1px;
    border-radius: 6px;
    font-size: larger;
    margin: 20px 30% 10px;
    text-align: center;
}

.primary {
    background-color: #D0E5E8;
}

.secondary {
    background-color: #FFA78A;
}

.descriptionContent {
    margin: 10px;
    border: solid 2px;
    border-radius: 6px;
    background-color: #fefefe;
}

.descriptionContainer {
    text-align: left;
}

@media (max-width: 360px) {
}

@media (min-width: 961px) {
    body{
        width: 80%;
        max-width: 1024px;
        margin: auto;
    }

    #description {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }    

    #description > .personalityBlock{
        text-align: center;
        flex: 1 1 30%;
    }

    #divider {
        height: auto;
        width: 30px;
        background-image: url('../img/stars_verticle.png');
        background-size: 30px 150px;
        margin: 0 10px;
        flex: 0 0 30px;
    }
}